:root{
    --text-color:violet;
}

h1{
    color: var(--text-color);
}

h2 {
    color: var(--text-color);
}

h3 {
    color: var(--text-color);
}

h4 {
    color: var(--text-color);
}

h1:hover{
    color: rgba(240, 81, 35, 0.8 );
}

.header{
   
    height: 42px;
    background-color: #333;
    top: 0;
    left: 0;
    right: 0;
    margin-top: -10px;
    margin-left: -10px;
    position: fixed;

}

ul {
    height: 2000px;
}



body{
    
}

.box {
    background-color: aquamarine;
    --height : 6000px;
    text-align: center;
    line-height: 100px;
    height: var(--height);
    line-height: var(--height);  
}